img {
    max-width: 100%;
    height: auto;
}
.announcement-bar {
    padding-top: 24px;
    padding-bottom: 24px;
    background-color: #00234D;
}
.announcement-text>.announcement-icon-left {
    height: 15px;
    width: 8.25px;
    color: #fff;
    position: relative;
    bottom: 5px;
    right: 25px;
}
.announcement-text>.announcement-link {
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0;
    text-decoration: none;
}
.announcement-text>.announcement-icon-right {
    height: 15px;
    width: 8.25px;
    color: #fff;
    position: relative;
    bottom: 5px;
    left: 18px;
}
.announcement-text {
    text-decoration: none;
    max-height: 100%;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-main {
    padding-top: 40px;
    padding-bottom: 40px;
}
.logo-wrraper {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.menu-nevigation {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu-list {
  height: 16px;
  width: 72px;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.menu-link {
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0;
  color: #00234D;
  text-decoration: none;
}
.menu-item {
  padding: 30px 20px;
  position: relative;
}
.menu-link:hover {
  opacity: 0.6;
  color: #00234D;
}
.header-bottom {
    height: 100%;
    width: 100%;
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0;
    margin: 0;
}
.action-form>.action-cart {
    text-decoration: none;
    color: #00234D;
    font-size: 16px;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: 0%;
}
.action-form>.action-logo {
    text-decoration: none;
    padding-left: 10px;
}
.hero-media img {
    height: 816.7px;
    width: 100%;
    object-fit: cover;
}
.swiper-slide {
    height: 816.7px;
    width: 100%;
}
.hero-content {
    position: relative;
    bottom: 580px;
    left: 50%;
    padding: 0;
    margin: 0;
}
.hero-content>.heading {
    color: #00234D;
    font-size: 72px;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: 0%;
    padding-bottom: 45px;
}
.hero-content>.text {
    color: #00234D;
    font-size: 24px;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: 0%;
    padding-bottom: 30px;
}
.button {
    text-decoration: none;
    color: #0B2D54;
    font-size: 16px;
    font-weight: 500;
    border: #00234D 2px solid;
    height: 60px;
    width: 190px;
    transition: 0.03s;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 120%;
    letter-spacing: 0%;
    border-radius: 4px;
}
.button:hover {
    color: #00234D;
    background-color: #FAF3ED;
}
.trust-section {
    padding-top: 100px;
    padding-bottom: 100px;
}
.trust-delevery {
    height: 40px;
    width: 289.67px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 30px;
    gap: 15px;
}
.trust-content>.heading {
    font-size: 18px;
    font-weight: 600;
    color: #00234D;
    line-height: 18px;
    letter-spacing: 0;
}
.trust-support {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.trust-media img {
    padding-bottom: 20px;
}
.trust-secure {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 15px;
}
.banner-top-section {
    background-color: #BCC5E6;
    border-radius: 7.81px;
}
.banner-section {
    height: 470.62px;
    width: 1,406px;
    gap: 10px;
}
.banner-top-content>.heading {
    color: #00234D;
    font-size: 33.2;
    font-weight: 600;
}
.banner-top-content>.text {
    color: #00234D;
    font-size: 15.62px;
    font-weight: 400;
}
.banner-top-content>.banner-top-view {
    color: #fff;
    font-size: 13.67;
    font-weight: 400;
}
.banner-top-content>.banner-top-view:hover {
    color: #fff;
}
.banner-top-media img {
    height: 221.64px;
    width: 164.03px;
}
.banner-top-media {
    height: 221.64px;
    width: 164.03px;
    position: relative;
    left: 60%;
    bottom: 110px;
}
.banner-top-content {
    height: 50%;
    width: 50%;
    position: relative;
    top: 30%;
    left: 50px;
}
.banner-top-section {
    height: 221.64px;
    width: 100%;
}
.banner-mid-section {
    background-color: #93BAB5;
    margin-top: 10px;
    border-radius: 7.81px;
}
.banner-mid-content>.heading {
    color: #00234D;
    font-size: 33.2;
    font-weight: 600;
}
.banner-mid-content>.text {
    color: #00234D;
    font-size: 15.62px;
    font-weight: 400;
}
.banner-mid-content>.banner-mid-view {
    color: #fff;
    font-size: 13.67;
    font-weight: 400;
}
.banner-mid-content>.banner-mid-view:hover {
    color: #fff;
}
.banner-mid-media img {
    height: 223.59px;
    width: 171.84px;
}
.banner-mid-media {
    height: 223.59px;
    width: 171.84px;
    position: relative;
    left: 60%;
    bottom: 120px;
}
.banner-mid-content {
    height: 50%;
    width: 50%;
    position: relative;
    top: 30%;
    left: 50px;
}
.banner-mid-section {
    height: 221.64px;
    width: 100%;
    position: relative;
    top: 12px;
}
.banner-bottom-section {
    background-color: #FAF3ED;
    height: 468.67px;
    width: 631.72px;
}
.banner-bottom-content>.heading {
    font-size: 33.02px;
    font-weight: 600;
    color: #00234D;
}
.banner-bottom-content>.text {
    color: #00234D;
    font-size: 15.62;
    font-weight: 400;
}
.banner-bottom-content>.banner-bottom-view {
    color: #00234D;
    font-size: 13.67px;
    font-weight: 400;
}
.banner-bottom-content>.banner-bottom-view:hover {
    color: #00234D;
}
.banner-bottom-section>.banner-bottom-media img {
    height: 427.66px;
    width: 430.69px;
    position: relative;
    left: 180px;
    bottom: 120px;
}
.banner-bottom-content {
    position: relative;
    left: 50px;
    top: 100px;
}
.featurd-item-srction {
    height: 1,182.44px;
    width: 1,188px;
    padding-top: 110px;
}
.featurd-item-srction .section-heading-wrrap {
    padding-bottom: 40px;
}
.section-heading-wrrap .section-heading {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-heading>.heading {
    font-size: 48px;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: 0;
    text-transform: capitalize;
    color: #00234D;
    height: 72px;
    width: 422px;
}
.product-cird>.product-cird {
    padding-top: 10px;
}
.featurd-item-srction .product-cird {
    text-decoration: none;
}
.product-cird .product-cird-media {
    background-color: #E9F0F3;
    height: 345px;
    width: 290px;
}
.product-cird .product-cird-media img {
    max-height: 316px;
    max-width: 260px;
    position: relative;
    left: 15px;
    top: 35px;
}
.product-cird .product-cird-cercle {
    color: rgba(0, 0, 0, 0.1);
    padding-top: 10px;
}
.product-cird .product-cird-info {
    color: #00234D;
}
.product-cird .product-cird-info:hover {
    color: #00234D;
}
.product-cird-info>.product-title {
    color: #00234D;
    font-size: 18px;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: 0px;
    padding-top: 10px;
}
.product-cird-info>.product-cird-price {
    color: #00234DBA;
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0;
    padding-top: 5px;
    margin-bottom: 40px;
}
.best-product>.heading {
    color: #FFFFFF;
    background-color: #00234D;
    font-size: 12px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0;
    height: 18px;
    width: 61px;
    text-transform: capitalize;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 270px;
    left: 10px;
}
.best-product>.text {
    color: #FFFFFF;
    background-color: #FF6B6C;
    font-size: 12px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0;
    height: 18px;
    width: 31px;
    text-transform: capitalize;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 272px;
    left: 10px;
}
.product-cird-price>del {
    color: #FF6B6C;
}
.bi-circle-1 {
    background-color: #00234D;
    border-radius: 50%;
}
.bi-circle-1:hover {
    height: 15px;
    width: 15px;
    border: 1px solid #45B0FF;
    border-radius: 50%;
}
.bi-circle-2 {
    background-color: #93BAB5;
    border-radius: 50%;
}
.bi-circle-2:hover {
    height: 15px;
    width: 15px;
    border: 1px solid #45B0FF;
    border-radius: 50%;
}
.bi-circle-3 {
    background-color: #BCC5E6;
    border-radius: 50%;
}
.bi-circle-3:hover {
    height: 15px;
    width: 15px;
    border: 1px solid #45B0FF;
    border-radius: 50%;
}
.bi-circle-4 {
    background-color: #00234D;
    border-radius: 50%;
}
.bi-circle-4:hover {
    height: 16px;
    width: 16px;
    border: 1px solid #45B0FF;
    border-radius: 50%;
}
.bi-circle-5 {
    background-color: #93BAB5;
    border-radius: 50%;
}
.bi-circle-5:hover {
    height: 16px;
    width: 16px;
    border: 1px solid #45B0FF;
    border-radius: 50%;
}
.bi-circle-6 {
    background-color: #BCC5E6;
    border-radius: 50%;
}
.bi-circle-6:hover {
    height: 16px;
    width: 16px;
    border: 1px solid #45B0FF;
    border-radius: 50%;
}
.bi-circle-7 {
    background-color: #176EBF;
    border-radius: 50%;
}
.bi-circle-7:hover {
    height: 16px;
    width: 16px;
    border: 1px solid #45B0FF;
    border-radius: 50%;
}
.bi-circle-8 {
    background-color: #00234D;
    border-radius: 50%;
}
.bi-circle-8:hover {
    height: 16px;
    width: 16px;
    border: 1px solid #45B0FF;
    border-radius: 50%;
}
.bi-circle-9 {
    background-color: #BCC5E6;
    border-radius: 50%;
}
.bi-circle-9:hover {
    height: 16px;
    width: 16px;
    border: 1px solid #45B0FF;
    border-radius: 50%;
}
.bi-circle-10 {
    background-color: #176EBF;
    border-radius: 50%;
}
.bi-circle-10:hover {
    height: 16px;
    width: 16px;
    border: 1px solid #45B0FF;
    border-radius: 50%;
}
.bi-circle-11 {
    background-color: #00234D;
    border-radius: 50%;
}
.bi-circle-11:hover {
    height: 16px;
    width: 16px;
    border: 1px solid #45B0FF;
    border-radius: 50%;
}
.bi-circle-12 {
    background-color: #BCC5E6;
    border-radius: 50%;
}
.bi-circle-12:hover {
    height: 16px;
    width: 16px;
    border: 1px solid #45B0FF;
    border-radius: 50%;
}
.bi-circle-13 {
    background-image: url(circle/project\ 1.png);
    border-radius: 50%;
}
.bi-circle-13:hover {
    height: 16px;
    width: 16px;
    border: 1px solid #45B0FF;
    border-radius: 50%;
}
.bi-circle-14 {
    background-image: url(circle/project\ 1.png);
    border-radius: 50%;
}
.bi-circle-14:hover {
    height: 16px;
    width: 16px;
    border: 1px solid #45B0FF;
    border-radius: 50%;
}
.bi-circle-15 {
    background-image: url(circle/project\ 1.png);
    border-radius: 50%;
}
.bi-circle-15:hover {
    height: 16px;
    width: 16px;
    border: 1px solid #45B0FF;
    border-radius: 50%;
}
.bi-circle-16 {
    background-image: url(circle/project\ 1.png);
    border-radius: 50%;
}
.bi-circle-16:hover {
    height: 16px;
    width: 16px;
    border: 1px solid #45B0FF;
    border-radius: 50%;
}
.bi-circle-17 {
    background-image: url(circle/project\ 1.png);
    border-radius: 50%;
}
.bi-circle-17:hover {
    height: 16px;
    width: 16px;
    border: 1px solid #45B0FF;
    border-radius: 50%;
}
.bi-circle-18 {
    background-image: url(circle/project\ 1.png);
    border-radius: 50%;
}
.bi-circle-18:hover {
    height: 16px;
    width: 16px;
    border: 1px solid #45B0FF;
    border-radius: 50%;
}
.bi-circle-19 {
    background-image: url(circle/project\ 1.png);
    border-radius: 50%;
}
.bi-circle-19:hover {
    height: 16px;
    width: 16px;
    border: 1px solid #45B0FF;
    border-radius: 50%;
}
.bi-circle-20 {
    background-image: url(circle/project\ 1.png);
    border-radius: 50%;
}
.bi-circle-20:hover {
    height: 16px;
    width: 16px;
    border: 1px solid #45B0FF;
    border-radius: 50%;
}
.bi-circle-21 {
    background-color: #00234D;
    border-radius: 50%;
}
.bi-circle-21:hover {
    height: 16px;
    width: 16px;
    border: 1px solid #45B0FF;
    border-radius: 50%;
}
.bi-circle-22 {
    background-color: #7FABE0;
    border-radius: 50%;
}
.bi-circle-22:hover {
    height: 16px;
    width: 16px;
    border: 1px solid #45B0FF;
    border-radius: 50%;
}
.bi-circle-23 {
    background-color: #fff;
    border-radius: 50%;
}
.bi-circle-23:hover {
    height: 16px;
    width: 16px;
    border: 1px solid #45B0FF;
    border-radius: 50%;
}
.bi-circle-24 {
    background-color: #BCC5E6;
    border-radius: 50%;
}
.bi-circle-24:hover {
    height: 16px;
    width: 16px;
    border: 1px solid #45B0FF;
    border-radius: 50%;
}
.product-cird-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 45px;
}
.product-cird-button>.button {
    height: 47px;
    width: 147px;
    border-radius: 4px;
}
.featured-heading {
    color: #00234D;
    font-size: 48px;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: 0;
    text-transform: capitalize;
    height: 72px;
    width: 478px;
    padding-top: 100px;
}
.featured-heading-wrrap {
    display: flex;
    justify-content: center;
    align-items: center;
}
.featured-card-furniture .featured-media-section {
    background-color: #EDF0FF;
    height: 486px;
    width: 372px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.featured-card-decor .featured-media-section {
    background-color: #FFF5F5;
    height: 486px;
    width: 372px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.featured-card-wallpeper .featured-media-section {
    background-color: #FFF5F5;
    height: 486px;
    width: 372px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.featured-card-section {
    padding-top: 90px;
}
.featured-card-decor {
    text-decoration: none;
}
.featured-card-decor .featured-card-info .featured-title {
    color: #00234D;
    font-size: 42px;
    font-weight: 600;
    line-height: 54px;
    letter-spacing: 1;
    text-transform: capitalize;
    height: 54px;
    width: 266px;
}
.featured-card-link {
    text-decoration: underline;
    color: #77889B;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 1;
}
.featured-card-furniture {
    text-decoration: none;
}
.featured-card-furniture .featured-card-info .featured-title {
    color: #00234D;
    font-size: 42px;
    font-weight: 600;
    line-height: 54px;
    letter-spacing: 1;
    text-transform: capitalize;
    height: 54px;
    width: 379px;
}
.featured-card-wallpeper {
    text-decoration: none;
}
.featured-card-wallpeper .featured-card-info .featured-title {
    color: #00234D;
    font-size: 42px;
    font-weight: 600;
    line-height: 54px;
    letter-spacing: 1;
    text-transform: capitalize;
    height: 108px;
    width: 445px;
}
.featured-card-wallpeper .featured-card-info .featured-card-link {
    position: relative;
    bottom: 56px;
}
.featured-card-decor .featured-card-info {
    position: relative;
    bottom: 44%;
    right: 197px;
}
.featured-card-wallpeper .featured-card-info {
    position: relative;
    bottom: 72%;
    right: 198px;
}
.featured-card-wallpeper {
    position: relative;
    top: 649.15px;
}
.featured-card-furniture {
    position: relative;
    top: 335.15px;
    right: 441px;
}
.featured-card-decor {
    position: relative;
    top: 1px;
    left: 601px;
}
.featured-card-section {
    padding-bottom: 505px;
}
.Scrolling-video-section {
    padding-top: 100px;
}
.Scrolling-video-section .scroll-item {
    height: 534px;
    width: 1920px;
}